<div class="w-screen h-screen md:container md:mx-auto flex justify-center flex-col items-center bg-[#282a36]">
    <div class="h-screen w-3/4 py-6">
        <div class="h-28 w-full bg-yellow-400 rounded-md">

        </div>
        <div class="h-96 my-6 bg-blue-400">
            <div class="h-9 bg-red-400">

            </div>
        </div>
    </div>
    <!-- <div class="box-content h-full w-96">
        <div class="w-full h-full py-3 px-3 flex items-center justify-center">
            <div class="text-center">
                <h2 class="font-bold text-9xl text-zinc-100 leading-relaxed font-sans">25</h2>
            </div>
            <div class="h-1/3 grid grid-cols-6 grid-rows-2 gap-4">
                <div class="col-span-1 row-span-2 bg-gray-200">Coluna 1</div>
                <div class="col-span-1 row-span-2 bg-gray-300">Coluna 2</div>
                <div class="col-span-1 row-span-2 bg-gray-400">Coluna 3</div>
                <div class="col-span-1 row-span-2 bg-gray-500">Coluna 4</div>
                <div class="col-span-1 row-span-2 bg-gray-600">Coluna 5</div>
                <div class="col-span-1 row-span-2 bg-gray-700">Coluna 6</div>
            </div>
        </div>
    </div> -->
</div>