<div class="w-screen h-screen md:container md:mx-auto flex justify-center flex-col items-center bg-[#282a36]">
    <div class="h-screen w-3/4 py-6">
        <div class="h-96">
            <div class="h-9 text-center">
                <p class="text-zinc-50 text-lg font-sans font-medium">Temperatura atual</p>
            </div>

            <div class="h-3/6 text-center">
                <h1 class="font-semibold text-9xl text-zinc-50">{{ temp }}</h1>
            </div>

            <div class="h-28 grid grid-cols-8 gap-1 overflow-hidden" *ngIf="climate$ | async as climate">
                <div *ngFor="let daily of climate.daily">
                    <div class="h-1/2 text-center">
                        <p class="text-zinc-50 font-semibold">
                            Dia
                        </p>
                        <p class="text-zinc-50 font-semibold">
                            {{
                                daily.temp.day.toFixed(0) + '°C'
                            }}
                        </p>
                    </div>
                    <div class="h-1/2 flex">
                        <div class="w-1/2 text-center">
                            <p class="text-zinc-500 font-semibold">
                                mix
                            </p>
                            <p class="text-zinc-500 font-semibold">
                                {{
                                    daily.temp.min.toFixed(0) + '°'
                                }}
                            </p>
                        </div>
                        <div class="w-1/2 text-center">
                            <p class="text-zinc-50 font-semibold">
                                max
                            </p>
                            <p class="text-zinc-50 font-semibold">
                                {{
                                    daily.temp.max.toFixed(0) + '°'
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="rounded-lg bg-success-100 px-6 py-5 text-base text-success-700 bg-[#FFD86C]" role="alert"
            *ngIf="hasAlerts; else noAlerts">
            <h4 class="mb-2 text-2xl font-medium leading-tight text-yellow-700">Alertas!</h4>
            <p class="mb-4 text-yellow-700" *ngFor="let alerts of (climate$ | async)?.alerts">
                {{
                alerts.description
                }}
            </p>
        </div>

        <ng-template #noAlerts>
            <div class="rounded-lg bg-success-100 px-6 py-5 text-base text-success-700 bg-[#FFD86C]" role="alert">
                <h4 class="mb-2 text-2xl font-medium leading-tight text-yellow-700">Alertas!</h4>
                <p class="mb-4 text-yellow-700">
                    Esta é a aba de alertas de clima para a sua região.
                    Aqui você encontrará informações valiosas sobre as condições meteorológicas atuais.
                </p>
                <hr class="border-success-600 border-yellow-600" />
                <p class="mb-0 mt-4 text-yellow-700">
                    Fique atento às atualizações diárias do clima para melhor planejar suas atividades.
                    Qualquer mudança significativa será comunicada aqui.
                </p>
            </div>
        </ng-template>
    </div>
</div>